@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /*background: #ececec;*/
    background-color:#c9d6ff;
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;

}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}